.help-icon {
  color:#660000;
}

.accept-icon {
  color:#009900;
}

.reject-icon {
  color:#990000;
}

.call-active {
  background-color:#eeeeee;
}

.call-mark {
  width:14px;
  opacity: 0.4;
  vartical-align:top;
  margin:0 0 4px 12px;
}
