<template name="onboarding_waiting">
  <p>Rufen Sie nun eine beliebige Nummer von ihrem sipgate.io Endgerät (simquadrat Handy oder sipgate VoIP Telefon) an. Innerhalb weniger Sekunden wird der Anruf hier angezeigt.</p>
  <img src="waiting.png">
  <div class="alert alert-info" role="alert">Fällt Ihnen niemand ein, den Sie anrufen können? Dann versuchen Sie es doch einfach mal mit der <strong>10005</strong>. Wir freuen uns auf Ihren Anruf!</div>
  <button class="btn btn-sm btn-danger onboarding-1 pull-right">Der Anruf erscheint nicht.</button>
</template>
