<template name="calllist_call">
  <li class="list-group-item {{#if active}}active{{/if}} call-item">
    {{#if rejected}}
      <img src="call_rejected.png" alt="abgelehnt" class="call-mark">
    {{else}}
      {{#if rule}}
        <span class="label label-success label-small pull-right">Regel <i class="fa fa-arrow-right"></i></span>
      {{/if}}
      {{#if isOutgoing}}
        <h4>{{to}} <img src="call_out.png" alt="ausgehend" class="call-mark"></h4>
        Ausgehender
      {{ else }}
        <h4>{{from}} <img src="call_in.png" alt="eingehend" class="call-mark"></h4>
        Eingehender
      {{/if}}
    {{/if}}
    Anruf von {{from}} auf {{to}}
  </li>
</template>
